body {
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    font-family: 'Lato', sans-serif;
    margin: auto;


}


/* ul {
    display: inline;
} */




#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);

    height: 70px;
    border: 1px solid lightgray;

}



#nav-links {
    text-align: left;
    width: 100%;
    padding-left: 173px;
    color: rgb(77, 77, 77);
    font-size: 18.1px;
    font-variant: small-caps;
    font-weight: 800;
    letter-spacing: 1.25px;
    word-spacing: 1.1px;
    margin-top: 21.2px;

}



#nav-links>ul {
    display: inline;
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
    width: auto;
    /* line-height: 3.5em; */
}

#nav-links>ul>li {

    display: inline-block;
    padding-right: 22.2px;

}


#nav-links>ul>li:hover {
    color: red;
}

#nav-socials {
    float: right;
    display: flex;
    padding-right: 160px;
    background-color: rgb(255, 255, 255);

}

#nav-socials>i {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 15px;
    padding-left: 3px;
    line-height: 60px;
    letter-spacing: 5px;
    color: rgb(170, 170, 170);
}

#nav-socials>i:hover {
    color: red;
}

#nav-socials i:first-of-type {

    position: absolute;
    right: 9.34%;
}

#nav-socials i:nth-child(2) {
    position: absolute;

    right: 15%;
    right: 12.8em;
}

#nav-socials i:nth-child(3) {
    position: absolute;
    right: 15%;
    right: 15.2em;
}

#nav-socials i:nth-child(4) {
    position: absolute;
    right: 17.2em;
}

#nav-socials i:nth-child(5) {
    position: absolute;

    right: 19em;
}

#nav-socials i:nth-child(6) {
    position: absolute;

    right: 21.5em;
}

.content-container {
    width: 90%;
    margin: auto;
    padding-right: 0;
    margin-right: 0;

}




p {
    text-align: left;

}

#content-body {
    display: flex;
    margin-right: 0;
    padding-right: 0;



    background-color: rgb(240, 240, 240);

}

#primary-content-container {
    display: flex;
    margin: auto;
    margin-left: 173px;
    margin-right: 36px;

    flex-direction: column;
    margin-top: 58px;
    width: 869px;
    background-color: rgb(244, 244, 244);

}




.content-container {

    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;


    border: 1px solid rgb(228, 225, 225);

}

.container-image {
    width: 100%;
    height: 548px;
    object-fit: cover;
    top: 0;


}

.primary-content-container-text {
    margin-top: 49px;
    margin-bottom: 0;
}

.tag-travel {
    display: block;
    color: rgb(234, 47, 47);
    font-family: 'Lato', sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: .8px;
    margin-bottom: 0px;
    padding-top: 5px;
    line-height: 0;
}

.container-title {

    display: block;
    font-family: 'Oswald', sans-serif;
    font-variant: small-caps;
    font-size: 38px;
    line-height: 0;
    margin-top: 36px;
    letter-spacing: .5px;
    padding-left: 0px;
    word-spacing: -2.5px;

}


.container-text {
    font-family: 'lato', sans-serif;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.84;
    width: 90%;

}

button {
    font-family: 'lato', sans-serif;
    margin-top: 50px;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .6px;
    border: 1px solid red;
    height: 45px;
    width: 200px;
    margin-left: .5px;
    text-align: center;
    letter-spacing: 1px;
    display: relative;
    padding-bottom: 8px;
    color: red;
    background-color: transparent;
    margin-bottom: 40px;

}

button:hover {
    background-color: red;
    color: white;
    border: white;
}

p.button-text {
    color: red;

}


.decorative-line {
    display: block;
    border-bottom: 1px solid rgb(226, 226, 226);
    width: 89.5%;
    margin-top: 7px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0px;
    margin-right: auto;
    margin-left: auto;

}

.line-aside {
    padding-top: 5px;
    border-color: rgb(266, 266, 266);
    width: 83%;
    padding-bottom: 10.5px;
}

.content-container-footer {

    flex-direction: row;
}

.footer-text {

    position: relative;
    color: rgb(194, 194, 194);
    text-transform: capitalize;
    word-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 16px;
    float: left;
    margin-left: 45px;
    margin-top: 0px;
    height: 92px;
}

.footer-author {
    text-decoration: none;
    color: rgb(194, 194, 194);
}

.footer-author:hover {
    color: red;
}

.footer-author:active {
    text-decoration: none;
}


.footer-socials {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    padding-bottom: 10px;
    padding-right: 28px;
    margin-right: 0;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
}

.footer-socials a,
i {
    margin-right: 8.5px;

    color: rgb(194, 194, 194);
}

.footer-socials a,
i:hover {
    color: red;
}

#first-text-container {
    padding-bottom: 1px;
}

#first-primary-content-container {
    margin-bottom: 56px;
}

#second-primary-content-container {
    height: 1073px;

    margin-bottom: 55px;
}


#second-container-image {
    height: 552px;
    margin-bottom: 0px;
}

#third-primary-content-container {
    height: 1100px;
    margin-bottom: 58px;
}

#third-content-image {
    height: 580px;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
}

#third-text-container {
    padding-bottom: 2px;
}

#third-travel-tag {
    margin-top: 0;
    padding-top: 0;
    font-size: 18px;
    letter-spacing: 1.4px;
}


#third-container-title {
    padding-top: 1px;
    letter-spacing: px;
}

#fourth-primary-content-container {
    margin-bottom: 0px;
}

#fourth-container-image {
    height: 549px;
    margin-bottom: 3px;
}

#fourth-travel-tag {
    margin-top: 0;
    padding-top: 3px;
    font-size: 19px;
}


#fourth-text-container {
    padding-bottom: 2px;

}

#fourth-button {
    margin-bottom: 39px;
}

.page-number {
    display: flex;
    flex-direction: row;
    margin-top: 56px;
    margin-left: -1px;
    font-family: 'Lato' sans-serif;


}

.page {
    border: 1px solid rgb(233, 233, 233);
    padding: 9px 14px;
    margin-right: 7px;
    color: rgb(186, 186, 186);
    margin-bottom: 90px;
    background-color: rgb(255, 255, 255);

}


.page:nth-child(1) {
    background-color: red;
    color: white
}

.page:nth-child(3) {
    padding: 9px 14px;
}

.page:nth-child(4) {
    padding: 9px 14px;
}

.page-next {
    display: flex;
    border: 1px solid rgb(233, 233, 233);
    justify-content: center;
    font-size: 13px;
    font-weight: 800;
    color: red;
    padding-top: 11px;
    padding-right: 8px;
    padding-left: 2px;
    margin-bottom: 90px;
    background-color: rgb(255, 255, 255);

}

.fa-solid {
    margin-left: 13px;
    font-weight: 800px;
    font-size: 14px;
}

/************************| aside |***************************/
#secondary-content-container {
    display: flex;
    flex-direction: column;

    margin-top: 57px;
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

}

#aside-section-right {
    padding-left: 0;
    margin-left: 0;
}

#aside-profile-container {
    position: relative;
    width: 417px;
    height: 633px;

    margin-bottom: 46px;
    border: 1px solid rgb(228, 225, 225);
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin-left: 0;
    margin-bottom: 30px;


}

#aside-container-image {
    width: 100%;
    max-height: 214px;
}

#aside-container-pfp {

    border: 1px solid transparent;
    border-radius: 50%;
    justify-content: center;
    margin: auto;
    object-fit: cover;
    max-height: 210px;
    width: 210px;
    position: absolute;
    right: 23%;

    top: 115px;
    border: 8px solid white;

}



#aside-profile-container h2 {
    text-align: center;
    margin-top: 132px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.4px;
    padding-bottom: 4px;
}

#aside-profile-container>p {

    width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    line-height: 29px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.15px;

}

#aside-rounded-socials {
    text-align: center;

    padding-right: 10px;

    display: flex;
    justify-content: center;


}



.social-rounded-border {

    background-color: transparent;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 50%;
    padding: 11px;
    height: 10px;
    width: 10px;
    margin-right: 7px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#aside-rounded-socials div>i {

    color: rgb(182, 182, 182);
    font-size: 15px;
    justify-content: center;
    padding-left: 9px;

}

li:hover {
    color: red;
}

#popular-post-container {


    border: 1px solid rgb(228, 225, 225);
    width: 418px;
    height: 1143px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 44px;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

}

#popular-post-container h2 {
    text-align: center;
    margin-top: 19px;
    padding-top: 6px;
    padding-bottom: 0px;
    margin-bottom: 28px;
    font-size: 30px;
    font-variant: small-caps;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: .4px;
    word-spacing: .1px;
}

#popular-post-container img {
    margin-top: 0;
    padding-top: 0px;
    padding-left: 35px;
    object-fit: contain;
    max-width: 348px;
    max-height: 233px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#popular-post-container h3 {
    padding-top: 4.4px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 36px;
    padding-bottom: 2px;
    font-variant: small-caps;
    font-size: 22px;
    letter-spacing: .4px;
    font-family: 'Oswald', sans-serif;
}



#popular-post-container p {
    display: flex;
    color: rgb(194, 194, 194);
    text-transform: capitalize;
    font-family: 'lato', sans-serif;

    /* font-style: italic; */
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    font-style: italic;
    margin-left: 35px;

    padding-top: 0;
    padding-bottom: 0;
    word-spacing: 1px;


}

.line-aside {

    width: 83%;
    margin-top: 21px;
    padding-bottom: 12px;
    border-top: 1px solid black;
}

#llama-trek {
    padding-top: 0px;
    margin-top: 0;
}

h3#llama {

    margin: 0;
    padding-right: 0;
    padding-left: 35px;
    word-spacing: -1px;
}

#hyphen {
    font-size: 12px;
    line-height: 1px;

    padding-right: 2px;
}

#pineapple-img img {
    padding-bottom: 0px;

    width: 400px;
    margin-bottom: 0;
}

h3#pineapple {
    margin-right: 0;
    margin-top: 1px;
    margin-left: 0;
    padding-right: 0;
    padding-left: 35px;
    word-spacing: -1px;
    letter-spacing: .5px;


}



/* LATEST POSTS CONTAINER. NOT TO BE CONFUSED WITH POPULAR POST CONTAINER */

#latest-posts-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    border: 1px solid rgb(233, 233, 233);
    max-width: 418px;
    height: 597px;
    padding: 0;
    margin: 0;


}


#latest-posts-container h2 {
    margin-top: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-variant: small-caps;
    font-family: 'oswald', sans-serif;
    font-weight: 500;
    font-size: 31px;
    letter-spacing: .2px;
    word-spacing: -1px;

    margin-bottom: 11px;

}

.post-image-container {
    display: flex;

}





.post-image-container h3 {
    display: flex;
    flex-wrap: nowrap;
    float: left;
    font-variant: small-caps;
    font-size: 21px;
    margin-left: 19px;

    letter-spacing: .1px;
    word-spacing: .3px;

    width: 100%;
    font-family: 'oswald', sans-serif;
    font-weight: 800;
    margin-top: 9px;
    padding-bottom: 0;
    padding-top: 0;


}

.post-image-container p {

    float: left;
    margin-left: 18px;
    margin-top: 1px;
    text-transform: capitalize;
    font-family: 'lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .1px;
    font-style: italic;

}

.post-image-container img {

    margin-top: 15px;
    max-width: 28.6%;

    float: left;
    display: flex;
    object-fit: fill;
    margin-left: 8.1%;
    margin-bottom: 4px;
}

#army-dive-image {
    padding-bottom: 1px;
}



.line-aside-latest {

    width: 84%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    padding-bottom: 0px;
    margin-top: 11px;
    margin-bottom: 0px;


    border-top: 1px solid rgb(233, 233, 233);

}



#army-dive-title {
    margin-bottom: 0;
}

#army-dive-date {
    margin-top: 7px;
}

#bum-image {
    margin-top: 13px;
    height: 89px;
    width: 190px;
    padding-bottom: 2px;
}


h3#bum-title {
    margin-top: 6.2px;
    letter-spacing: .2px;
    margin-bottom: 0;
}

#beach-bum p {
    margin-top: 8px;

}

#ticket-img {
    margin-top: 14px;
    margin-left: 34px;
    width: 120px;
    height: 87px;
    padding-bottom: 0px;
    margin-bottom: 6px;


}


#ticket-for-one h3 {
    margin-top: 7px;
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    word-spacing: -1.5px;
    letter-spacing: -.1px;
    font-size: 22px;




}

#ticket-date {
    margin-top: 6px;
}


#gather-img {
    margin-top: 14px;
    height: 88px;
    width: 122px;
    object-fit: cover;

}

#gather-paints h3 {
    margin-top: 7px;
    letter-spacing: .5px;
    word-spacing: -1.8px;
    margin-bottom: 0;
}

#gather-date {
    margin-top: 7px
}

#insta-feed-aside {
    margin-top: 83px;

    width: 418px;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 670px;

}

.header-insta-aside h2 {
    font-family: 'lato', sans-serif;
    font-size: 26.5px;
    font-weight: 500;


    margin: auto;
    margin-top: 16px;
    padding: 0;
}

#aside-insta-images {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    margin-top: 26px;

    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-bottom: 33px;

}

#aside-insta-images img {
    width: 100%;
    height: 165px;
    width: 169px;
    margin: 2px 6px;
    padding-left: 0px;
    padding-right: 0px;

    padding-bottom: 10px;
    object-fit: cover;


}



footer {

    flex-wrap: nowrap;
    text-align: center;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border-top: 1px solid rgb(233, 233, 233);

    margin-top: 10px;
}

#footer-title {
    text-align: center;



}

#footer-title h2 {
    font-family: 'oswald', sans-serif;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 29px;

    margin-top: 23px;
    margin-left: 2px;

    padding-bottom: 0;

    color: rgb(77, 77, 77);
    /* word-spacing: -1px; */

}

#follow {

    margin-right: 1px;
    letter-spacing: .5px;
    margin-left: 4px;


}

#at-symbol {
    font-weight: 500;
    font-size: 20px;
    margin-left: 1px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 10px;
    word-spacing: 0px;

}

#instagram {
    margin-left: -7px;
    margin-right: 0px;
    /* padding-left: 4px; */
    letter-spacing: .8px;

}

#footer-images {
    display: flex;
    flex-direction: row;

    max-width: 0px;
    max-height: 210px;

    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;

}

#footer-images img {
    max-width: 208px;
    object-fit: cover;
}


#footer-bottom {
    height: 200px;
    margin-top: 0;
    padding-top: 0;

    background-color: black;

}

#footer-bottom h3 {
    font-family: 'lato' sans-serif;
    text-transform: capitalize;
    font-weight: 200;
    color: rgb(158, 158, 158);
    background-color: rgb(27, 27, 27);
    padding-top: 29px;
    margin-top: 0;
    padding-bottom: 30px;
    font-size: 16px;
    word-spacing: 0px;
    letter-spacing: .3px;
    padding-left: 6px;
}

#bars {
    visibility: hidden;
    width: 100%;
    height: 100%;
    float: right;

}


@media screen and (max-width:988px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    header {
        position: relative;
        min-width: 50%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #nav-links {
        visibility: hidden;
    }

    #nav-socials {
        visibility: hidden;

    }

    #bars {
        visibility: visible;
    }


    main,
    .content-container,
    #primary-content-container,
    #secondary-content-container {
        float: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
        margin-top: 0;
    }

    #aside-section-right {
        width: 100%;
        margin: auto;
    }

    #aside-profile-background #aside-profile-container {
        width: 916px;
    }

    button {
        margin: auto;
    }

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    header {
        position: relative;
        min-width: 50%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #nav-links {
        visibility: hidden;
    }

    #nav-socials {
        visibility: hidden;

    }

    #bars {
        visibility: visible;
    }

}